In [1]:
# adding enumerated column to csv file

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("processed_dataset_100.csv")

In [7]:
df

                                     title  year
0                           Kate & Leopold  2001
1               The Other Side of the Wind  2018
2                            November 1828  2001
3                                Abhimanyu  1991
4                                El heroob  1991
..                                     ...   ...
94  Gu ling jie shao nian sha ren shi jian  1991
95                                   Haque  1991
96                            The Hard Way  1991
97                            Hear My Song  1991
98               Hihintayin kita sa langit  1991

[99 rows x 2 columns]

In [8]:
df.to_csv('processed_dataset_100_with_index.csv', index=True)