In [1]:
# process original IMDb Dataset

In [10]:
import pandas as pd
import numpy as np
from utilities import read_enum, convert_str_to_bitvalue, convert_tconst_to_indexnum, convert_enum_to_number

In [11]:
df = pd.read_csv("imdb-dataset/movies.tsv", sep='\t')

/home/niklas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [12]:
df = df.replace(r'\N', np.NaN)

In [13]:
adult_df = df['isAdult']
# isAdult contains wrong types. replace year number and /N by 0:
adult_df.iloc[[1097887]] = 0
adult_df.iloc[[1899188]] = 0
adult_df.iloc[[2010336]] = 0
adult_df.iloc[[2310796]] = 0
adult_df.iloc[[3002818]] = 0
adult_df.iloc[[9015226]] = 0
adult_df.iloc[[1509428]] = 0
adult_df.iloc[[2165247]] = 0
adult_df.iloc[[8975356]] = 0
adult_df.iloc[[6337318]] = 0
adult_df = pd.to_numeric(adult_df)

In [14]:
df['isAdult'] = adult_df

In [15]:
df['startYear'] = np.floor(pd.to_numeric(df['startYear'], errors='coerce')).astype('Int64')

In [16]:
df['runtimeMinutes'] = np.floor(pd.to_numeric(df['runtimeMinutes'], errors='coerce')).astype('Int64')
df['endYear'] = np.floor(pd.to_numeric(df['endYear'], errors='coerce')).astype('Int64')

In [18]:
df['titleType'] = df['titleType'].map(lambda a: convert_enum_to_number(a))

In [19]:
df['tconst'] = df['tconst'].map(lambda a: convert_tconst_to_indexnum(a))

In [20]:
df['genres'] = df['genres'].map(lambda a: convert_str_to_bitvalue(a))

In [21]:
df['genres'] = np.floor(pd.to_numeric(df['genres'], errors='coerce')).astype('Int64')

In [22]:
df.set_index('tconst', inplace=True)

In [23]:
df_ratings = pd.read_csv("imdb-dataset/ratings.tsv", sep='\t')

In [24]:
df_ratings['tconst'] = df_ratings['tconst'].map(lambda a: convert_tconst_to_indexnum(a))

In [25]:
df_ratings.set_index('tconst', inplace=True)

In [26]:
result_df = df.join(df_ratings)

In [27]:
result_df['numVotes'] = np.floor(pd.to_numeric(result_df['numVotes'], errors='coerce')).astype('Int64')

In [28]:
mapping = {
    "tconst":"ID",
    "titleType": "MOVIE_TYPE",
    "primaryTitle":"PRIMARY_TITLE", 
    "originalTitle":"ORIGINAL_TITLE", 
    "isAdult":"IS_ADULT", 
    "startYear":"START_YEAR", 
    "endYear":"END_YEAR", 
    "runtimeMinutes": "RUNTIME_MINUTES", 
    "genres":"MOVIE_GENRE",
    "averageRating": "IMDB_RATING",
    "numVotes": "IMDB_RATING_COUNT",
}
result_df = result_df.rename(columns=mapping)
result_df.index.names = ['ID']

In [29]:
result_df

,MOVIE_TYPE,PRIMARY_TITLE,ORIGINAL_TITLE,IS_ADULT,START_YEAR,END_YEAR,RUNTIME_MINUTES,MOVIE_GENRE,IMDB_RATING,IMDB_RATING_COUNT
ID,,,,,,,,,,
1,1,Carmencita,Carmencita,0,1894,<NA>,1,270532609,5.7,1892
2,1,Le clown et ses chiens,Le clown et ses chiens,0,1892,<NA>,5,268437505,5.9,252
3,1,Pauvre Pierrot,Pauvre Pierrot,0,1892,<NA>,4,35841,6.5,1685
4,1,Un bon bock,Un bon bock,0,1892,<NA>,12,268437505,5.7,165
5,1,Blacksmith Scene,Blacksmith Scene,0,1893,<NA>,1,268436481,6.2,2499
...,...,...,...,...,...,...,...,...,...,...
9916848,5,Episode #3.17,Episode #3.17,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916850,5,Episode #3.19,Episode #3.19,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916852,5,Episode #3.20,Episode #3.20,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916856,1,The Wind,The Wind,0,2015,<NA>,27,268435457,NaN,<NA>
9916880,5,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,<NA>,10,3329,NaN,<NA>

In [20]:
result_df.to_csv('processed_imdb_movies.csv')

In [32]:
result_df['START_YEAR']

ID
1          1894
2          1892
3          1892
4          1892
5          1893
           ...
9916848    2010
9916850    2010
9916852    2010
9916856    2015
9916880    2014
Name: START_YEAR, Length: 9018777, dtype: Int64

In [33]:
df = pd.read_csv("processed_imdb_movies.csv")

In [42]:
df['START_YEAR'] = np.floor(pd.to_numeric(df['START_YEAR'], errors='coerce')).astype('Int64')

In [43]:
df['START_YEAR']

0          1894
1          1892
2          1892
3          1892
4          1893
           ...
9018772    2010
9018773    2010
9018774    2010
9018775    2015
9018776    2014
Name: START_YEAR, Length: 9018777, dtype: Int64

In [38]:
result_df.to_csv('processed_imdb_movies2.csv')

In [37]:
result_df

,MOVIE_TYPE,PRIMARY_TITLE,ORIGINAL_TITLE,IS_ADULT,START_YEAR,END_YEAR,RUNTIME_MINUTES,MOVIE_GENRE,IMDB_RATING,IMDB_RATING_COUNT
ID,,,,,,,,,,
1,1,Carmencita,Carmencita,0,1894,<NA>,1,270532609,5.7,1892
2,1,Le clown et ses chiens,Le clown et ses chiens,0,1892,<NA>,5,268437505,5.9,252
3,1,Pauvre Pierrot,Pauvre Pierrot,0,1892,<NA>,4,35841,6.5,1685
4,1,Un bon bock,Un bon bock,0,1892,<NA>,12,268437505,5.7,165
5,1,Blacksmith Scene,Blacksmith Scene,0,1893,<NA>,1,268436481,6.2,2499
...,...,...,...,...,...,...,...,...,...,...
9916848,5,Episode #3.17,Episode #3.17,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916850,5,Episode #3.19,Episode #3.19,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916852,5,Episode #3.20,Episode #3.20,0,2010,<NA>,<NA>,17025,NaN,<NA>
9916856,1,The Wind,The Wind,0,2015,<NA>,27,268435457,NaN,<NA>
9916880,5,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,<NA>,10,3329,NaN,<NA>

In [39]:
df = pd.read_csv("processed_imdb_movies2.csv")

In [48]:
df['RUNTIME_MINUTES']

0           1.0
1           5.0
2           4.0
3          12.0
4           1.0
           ...
9018772     NaN
9018773     NaN
9018774     NaN
9018775    27.0
9018776    10.0
Name: RUNTIME_MINUTES, Length: 9018777, dtype: float64

In [44]:
df['START_YEAR'].drop_duplicates()

0          1894
1          1892
4          1893
9          1895
11         1896
           ...
4854857    2029
5305141    1887
5976879    1874
6992101    1883
8406855    1885
Name: START_YEAR, Length: 151, dtype: Int64

In [45]:
df['START_YEAR'].drop_duplicates().to_csv('startyearset.csv')

In [ ]:
adult_df.iloc[[65761]] = 0

In [46]:
df['START_YEAR'].isnull().values.ravel().sum()

1199186